@page
@{
    ViewBag.Title = "Sample";
    <style>
        .lbl {
            font-weight: bold;
        }
    </style>
}

<h2>Firebase Web Push Notification</h2>

<div class="container">
    <div class="row">
        <div class="col-6">
            <label class="lbl">Login Simolation</label>
            <br />
            <button type="button" id="btn_updateFcmToken" class="btn btn-info my-4 btn-block waves-effect waves-light">Update Fcm Token</button>
        </div>
        <div class="col-6">
            <label class="lbl">Logout Simolation</label>
            <br />
            <button type="button" id="btn_deleteFcmToken">Delete Fcm Token</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label class="lbl">Environtment:</label>
            <br />
            <select id=sct_Env>
                <option value="op_local">Local</option>
                <option value="op_dev">Dev</option>
                <option value="op_demo">Demo</option>
                <option value="op_prod">Prod</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label class="lbl">Type module chat:</label>
            <br />
            <select id=sct_moduleType>
                <option value="op_zalo">Zalo</option>
                <option value="op_facebook">Facebook</option>
                <option value="op_livechat">Livechat</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label class="lbl">Type message send:</label>
            <br />
            <select id=sct_typeMessage>
                <option value="op_text">Text</option>
                <option value="op_photo">Photo</option>
                <option value="op_video">Video</option>
                <option value="op_link">Link</option>
                <option value="op_button">Button</option>
            </select>
        </div>
    </div>
    </br>
    <div class="row">
        <div class="col-12">
            <label class="lbl">Flush all key</label>
            <br />
            <button type="button" id="btn_flushKey">Flush keys</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-12">
            <label class="lbl">Clear prefix key</label>
            </br>
            <input type="text" id="txt_pfkey" style="display:inline-block;" />
            <button type="button" id="btn_clearPfKey" style="display:inline-block">Clear prefix key</button>
        </div>
    </div>
    </br>
    <div class="row">
        <div class="col-12">
            <ol id="messagesList"></ol>
        </div>
    </div>
    </br>
    <div class="row">
        <div class="col-12">
            Message Forward:&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="messageInputFw" style="display:inline-block;width:60%" />
            <input type="button" id="sendButton" value="Send Forward Message"/>
        </div>
    </div>
    </br>
    <div class="row" style="position:relative;height:60%">
        <div class="col-12" style="height:10%; position:absolute; bottom:0px;">
            Message Backward:&nbsp;<input type="text" id="messageInputBw" style="display:inline-block;width:60%" />
            <input type="button" id="sendButtonBw" value="Send Backward Message" style="display:inline-block" />
        </div>
    </div>
</div>


@*Trỏ file script*@
<script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-messaging.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<!--Test push cloud message-->
<script src="@Url.Content("~/js/Contents/TestPushFcmWeb.js?v=(new Date()).getTime()")"></script>
<!--Test push database realtime-->
@*<script src="@Url.Content("~/js/Contents/TestPushDbRealtime.js?v=(new Date()).getTime()")"></script>*@

@*<script src="@Url.Content("~/firebase-messaging-sw.js")"></script>*@
